* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'my-font-1';
    src: url('https://fonts.gstatic.com/s/metrophobic/v19/sJoA3LZUhMSAPV_u0qwiAQ-O5X8.woff2');
}

.back-nav-class {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.back-nav-class .text {
    width: 100%;
    position: relative;
    font-family: my-font-1;
    font-size: 30px;
    font-weight: 500;
    height: 200px;
    text-align: center;
}

.term-1 {
    font-size: 25px;
    position: relative;
    bottom: 120px;
    font-weight: bold;
}

.back-nav-class .text span {
    animation: heart 1s ease-in-out infinite;
    color: red;
    font-weight: 600;
    animation-direction: alternate-reverse;

}

.back-nav-class .nav-class {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.button {
    padding: 0.5em 2em;
    background-color: rgb(0, 41, 136);
    color: rgb(255, 247, 0);
    text-decoration: none;
    border-radius: 10px;
    border-right: 2px solid rgb(255, 247, 0);
    border-bottom: 3px solid rgb(255, 247, 0);
    transition: 0.5s;
    transform: scale(1);
}

.button:hover {
    color: black;
    background: var(--clr);
    letter-spacing: 0.05em;
    transform: scale(1.02);
}

.term-2 {
    font-size: 25px;
    position: relative;
    bottom: 30px;
    font-weight: bold;
}

#btn0 {
    position: relative;
    left: 10px;
}

#btn1 {
    position: relative;
    left: 10px;
}

#btn2 {
    position: relative;
    top: 50px;
}

#btn3 {
    position: relative;
    top: 50px;
}

/* back ground */

.background {
    position: fixed;
    inset: 0 -50% 0 -50%;
    animation: slide 3s ease-in-out infinite alternate;
    background-image:
        linear-gradient(45deg,
            rgb(0, 41, 136) 50%,
            rgb(255, 247, 0) 50%);
    opacity: .5;
    z-index: -1;
}

.b {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.c {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

@keyframes heart {
    0% {
        font-size: 30px;
    }

    50% {
        color: yellow;
    }

    100% {
        font-size: 35px;
        color: blue;
    }
}

@media (max-width:500px) {
    .back-nav-class .text {
        font-size: 23px;
    }

    .back-nav-class .nav-class {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .back-nav-class .nav-class2 {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .button {
        text-align: center;
    }

    .back-nav-class .text span {
        animation: none;
    }

    .term-2 {
        bottom: 0px;
    }

    #btn0 {
        position: relative;
        top: 10%;
    }

    #btn1 {
        position: relative;
        top: 10%;
    }
    
    #btn1 {
        position: relative;
        left: 10px;
    }

    #btn00 {
        position: relative;
        bottom:  60px;
    }
    #btn11 {
        position: relative;
        bottom:  60px;
    }
}
