* ,
 *::after ,
 *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-subject: rgb(82, 89, 96);
    --color-c2: rgb(137, 142, 147);
    --color-c3: rgb(174, 174, 174);
    --color-and: rgb(240, 189, 40);
}

@font-face {
    font-family: 'my-font-1';
    src: url('https://fonts.gstatic.com/s/metrophobic/v19/sJoA3LZUhMSAPV_u0qwiAQ-O5X8.woff2');
}

::selection {
    background-color: rgb(239, 187, 32);
    color: white;
}

body {
    font-family: 'my-font-1';
}

html {
    scroll-behavior: smooth;
}

.head {
    width: 100%;
    height: auto;
    position: relative;
}

.head .logo {
    width: 100%;
    height: 90px;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
}

.head .logo .logoback {
    width: 1210px;
    height: 90px;
    position: relative;
    margin-right: 50px;
    margin-left: 50px;
}

.head .logo .logoback .piclogo {
    background-image: url('../pics 1/logo-construction.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px;
    width: 196px;
    height: 90px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.head .logo .logoback .tw-dr {
    float: right;
    line-height: 90px;
}

.head .logo .logoback .tw-dr .tw {
    color: gray;
    position: absolute;
    right: 30px;
}

.head .logo .logoback .tw-dr .tw i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background-color: rgba(165, 42, 42, 0);
    transition: 0.3s;
}

.head .logo .logoback .tw-dr .tw i:hover {
    background-color: rgb(70, 212, 254);
    color: white;
}

.head .logo .logoback .tw-dr .dr {
    color: gray;
}

.head .logo .logoback .tw-dr .dr i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    background-color: rgba(165, 42, 42, 0);
    transition: 0.3s;
}

.head .logo .logoback .tw-dr .dr i:hover {
    background-color: rgb(228, 72, 133);
    color: white;
}

.head .menu {
    width: 100%;
    height: 50px;
    background-color: rgb(44, 53, 61);
    clear: both;
    display: flex;
    justify-content: center;
    position: relative;
}

.head .menu .menuback {
    width: 1210px;
    height: 50px;
    position: relative;
    margin-right: 50px;
    margin-left: 50px;
}

.head .menu .menuback li {
    list-style: none;
    display: inline;
    line-height: 45px;
}

.head .menu .menuback li a {
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-size: 13px;
    font-weight: 600;
    padding: 13px 20px;
    border-left: 2px solid rgb(44, 49, 53);
    position: relative;
    z-index: 1500;
}

.head .menu .menuback li a:hover {
    color: white;
    transition: 0.2s;
}


.head .menu .ul-serv {
    width: 225px;
    height: auto;
    position: absolute;
    margin-left: 170px;
    background-color: rgb(44, 53, 61);
    flex-direction: column;
    border-right: 2px  solid rgb(38, 42, 45);
    border-left: 2px  solid rgb(38, 42, 45);
    display: none;
    z-index: 5;
}

.head .menu .menu-services:hover>a {
    padding-bottom: 200px;
    border-left: 2px solid transparent;
    
}

.head .menu .menu-services:hover .ul-serv {
    display: flex;
}


.head .search-back {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 90px;
    display: flex;
    justify-content: center;
}

.head .search-back .search {
    width: 1180px;
    height: 100%;
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
}

.search>label>i {
    float: right;
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 17px 30px;
    border-right: 1px rgb(44, 49, 54) solid;
    border-left: 1px rgb(44, 49, 54) solid;
    cursor: pointer;
}

.head .search-back .search .search-box {
    width: 300px;
    height: 75px;
    justify-content: center;
    align-items: center;
    float: right;
    background-color: white;
    position: absolute;
    right: 15px;
    top: 50px;
    z-index: 1100;
    border-radius: 3px;
    display: none;
}

.head .search-back .search .search-box::after {
    content: '';
    display: block;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    bottom: 95%;
    left: 90%;
}

.head .search-back .search .search-box>input {
    width: 230px;
    height: 40px;
    padding-left: 8px;
    font-size: 16px;
    border: none;
    background-color: rgb(248, 248, 248);
}

.head .search-back .search .search-box>input:focus{
    outline: none;
}

.head .search-back .search .search-box>a>i {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: rgb(255, 211, 81);
    color: white;
    font-size: 14px;
    transition: 0.5s;
}

.head .search-back .search .search-box>a>i:hover{
    background-color: black;
}

#checkbox_search[type=checkbox]:checked~.search-box {
    display: flex;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 28px;
    position: absolute;
    top: 25%;
    right: 165px;
    user-select: none;
    z-index: 1000;
    cursor: pointer;
}

.hamburger::after {
    content: '';
    display: none;
    width: 1px;
    height: 92px;
    border-right: 1px solid gray;
    position: absolute;
    top: -25px;
    right: -30px;
    z-index: 1;
}

.back-menu2 {
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.275);
    position: fixed;
    top: 0;
    z-index: 998;
}

.head .menu2 {
    position: absolute;
    right: 0;
    top: 0;
    width: 330px;
    height: 1050px;
    background-color: white;
    display: none;
    align-items: center;
    z-index: 999;
}

.head .menu2 ul {
    background-color: white;
    padding: 0 40px;
}

.head .menu2 ul li {
    list-style: none;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
}

.head .menu2 ul li::after {
    content: '';
    display: block;
    width: 240%;
    height: 2px;
    border-bottom: 1px solid rgb(211, 211, 211);
    position: relative;
    top: 20px;
    left: -40px;

}

.head .menu2 ul li a {
    text-decoration: none;
    color: black;
    font-size: 15.5px;
}

#x-mark {
    font-size: 30px;
    position: absolute;
    top: 28px;
    right: 168px;
    display: none;
    z-index: 1000;
    cursor: pointer;
}

.main {
    width: 100%;
    height: auto;
    clear: both;
}

.main .main-pic {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.main .main-pic .pic {
    width: 100%;
    height: 580px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.450), rgba(0, 0, 0, 0.450)), url('../pics 1/house-interior-1500x863.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main .main-pic .back-content {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.main .main-pic .back-content .content p {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.main .main-pic .back-content .content .yell-line-main-pic {
    width: 55px;
    height: 1px;
    margin: 20px 45%;
    border-bottom: 2px solid rgb(239, 187, 32);
}

.flash {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 640px;
    overflow: hidden;
}

.flash>i {
    transform: translate(-50%, 0) rotate(180deg);
    font-size: 40px;
    position: absolute;
    animation: flash 2.5s infinite;
    color: white;
}

.main .top-main {
    width: 100%;
    height: 835px;
    clear: both;
}

.main .top-main .top {
    width: 100%;
    height: 50%;
    position: relative;

}

.main .top-main .top .t-l {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.main .top-main .pic-content {
    width: 100%;
    height: 100%;
    background-image: url('pics 1/house-mansion-845x684.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main .top-main .top .t-r {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .top-main .content {
    width: auto;
    height: auto;
    padding-left: 60px;
    padding-right: 60px;
}

.main .top-main .content h1 {
    padding-bottom: 40px;
    font-size: 20px;
    color: var(--color-subject);
}

.main .content .line {
    width: 50px;
    height: 1px;
    position: relative;
    bottom: 18px;
    border-bottom: 2px solid rgb(239, 187, 32);
}

.main .top-main .content p {
    line-height: 25px;
    font-size: 15px;
    color: var(--color-c2);
}

.main .top-main .bottom {
    width: 100%;
    height: 50%;
    position: relative;
}

.main .top-main .bottom .b-l {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .top-main .bottom .b-r {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .top-main .bottom .b-r .pic-content {
    background-image: url('pics 1/modern-kitchen-845x684.jpg');
}

.main .numbers {
    width: 100%;
    height: 155px;
    background-color: rgb(44, 53, 61);
    display: flex;
    justify-content: center;
}

.main .numbers .num-back {
    width: 1210px;
    height: 100%;
    background-color: rgb(44, 53, 61);
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(249, 249, 249);
}

.main .numbers .num-back .nums {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 16px;
}

.main .numbers .num-back .nums p:first-child {
    font-size: 40px;
    font-weight: 400;
}

.main .numbers .num-back .nums span {
    font-size: 32px;
    color: rgb(123, 132, 140);
    font-weight: 600;
}

.main .numbers .num-back .nums p:last-child {
    font-size: 15px;
    font-weight: 300;
}

.main .bottom-main {
    width: 100%;
    height: 835px;
    clear: both;
}

.main .bottom-main .top {
    width: 100%;
    height: 50%;
    position: relative;

}

.main .bottom-main .top .t-l {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.main .bottom-main .pic-content {
    width: 100%;
    height: 100%;
    background-image: url('pics 1/modern-home-845x684.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main .bottom-main .top .t-r {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .bottom-main .content {
    width: auto;
    height: auto;
    padding-left: 60px;
    padding-right: 60px;
}

.main .bottom-main .content h1 {
    padding-bottom: 40px;
    font-size: 20px;
    color: var(--color-subject);
}

.main .bottom-main .content p {
    line-height: 25px;
    font-size: 15px;
    color: var(--color-c2);
}

.main .bottom-main .bottom {
    width: 100%;
    height: 50%;
    position: relative;
}

.main .bottom-main .bottom .b-l {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .bottom-main .bottom .b-r {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .bottom-main .bottom .b-r .pic-content {
    background-image: url('pics 1/superb-backyard-845x684.jpg');
}

.foot {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    transform: translate(0, -32.5%);
}

.foot .foot-1 {
    width: 100%;
    height: 330px;
    background-color: rgb(44, 53, 61);
    position: relative;
    top: 125px;
    display: flex;
    justify-content: center;
}

.foot-1 .foot-1-back {
    width: 1210px;
    height: auto;
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 4%;
}

.foot-1 .foot-1-back .foot-box-back {
    height: auto;
    width: 22%;
    position: relative;
    top: 50px;
}

.foot-1 .foot-1-back .foot-box {
    width: 100%;
    height: auto;
    background-color: rgb(44, 53, 61);
    position: relative;
    top: 0%;
    color: white;
}

.foot-1 .foot-1-back .foot-box .subject-foot {
    width: 100%;
    height: auto;
    font-size: 16.5px;
    font-weight: 600;
    border-top: 1.5px rgb(91, 100, 107) solid;
    border-bottom: 1.5px rgb(91, 100, 107) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;

}

.foot-1 .foot-1-back .foot-box .text-int {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 60px;
    line-height: 25px;
    color: white;

}

.foot-1 .foot-1-back .foot-box .social {
    width: 100%;
    height: auto;
    position: relative;
}

.foot-1 .foot-1-back .foot-box .social .s-tw {
    height: auto;
    width: 40%;
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
}

.foot-1 .foot-1-back .foot-box .social .s-tw a {
    text-decoration: none;
    color: white;
}

.foot-1 .foot-1-back .foot-box .social .s-wi {
    height: auto;
    width: 40%;
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 14px;
    font-weight: 600;
}

.foot-1 .foot-1-back .foot-box .social .s-wi a {
    text-decoration: none;
    color: white;
}

.foot-1 .foot-1-back .foot-box .social a:first-child {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-1 .foot-1-back .foot-box .social .s-tw-icon {
    background-color: rgb(70, 212, 254);
}

.foot-1 .foot-1-back .foot-box .social .s-wi-icon {
    background-color: rgb(255, 161, 51);
}

.foot-1 .foot-1-back .foot-box .social p {
    color: white;
    padding-left: 40px;
}

.foot-1 .foot-1-back .foot-box .social p span {
    font-weight: normal;
    font-size: 10px;
}

.foot-1 .foot-1-back .foot-box .social p span:hover {
    color: rgb(255, 210, 95);
}

.foot-1 .foot-1-back .foot-box .text-enf p:first-child {
    padding-top: 20px;
    padding-bottom: 25px;
    line-height: 25px;
}

.foot-1 .foot-1-back .foot-box .text-enf p {
    color: white;
    font-size: 15px;
}

.foot-1 .foot-1-back .foot-box .text-off p {
    line-height: 25px;
    font-size: 15px;
    padding-top: 20px;
    color: white;

}

.foot-1 .foot-1-back .foot-box .b-pr-box {
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.foot-1 .foot-1-back .foot-box .b-pr-box a {
    text-decoration: none;
    color: white;
}

.foot-1 .foot-1-back .foot-box .b-pr-box .pr-pic {
    border: solid 4px rgb(91, 100, 107);
    width: 36px;
    height: 36px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}

.foot-1 .foot-1-back .foot-box .b-pr-box .pr-la-t {
    background-image: url('pics 1/house-interior-36x36.jpg');
}

.foot-1 .foot-1-back .foot-box .b-pr-box .pr-la-m {
    background-image: url('pics 1/architect-handling-keys-to-a-couple-36x36.jpg');
}

.foot-1 .foot-1-back .foot-box .b-pr-box .pr-la-b {
    background-image: url('pics 1/urban-development-36x36.jpg');
}

.foot-1 .foot-1-back .foot-box .b-pr-box .b-pr-box-each {
    padding-bottom: 15px;
}

.foot-lat-date {
    font-size: 11.73px;
    font-weight: 400;
}

.foot-1 .foot-1-back .foot-box .b-pr-box .b-pr-box-each p {
    font-size: 15px;
    padding-left: 45px;
    line-height: 20px;
    font-size: 12.75px;
    font-weight: 700;
    font-family: inherit;
    color: white;

}

.foot .foot-2 {
    width: 100%;
    height: 57px;
    background-color: rgb(91, 100, 107);
    position: relative;
    top: 125px;
    display: flex;
    justify-content: center;
}

.foot .foot-2 .foot-2-back {
    width: 1210px;
    height: 100%;
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot .foot-2 .foot-2-back .ft-2-l {
    font-size: 11px;
    color: white;
}

.foot .foot-2 .foot-2-back .ft-2-l a {
    text-decoration: none;
    color: white;
}

.foot .foot-2 .foot-2-back .ft-2-l a:hover {
    color: orange;
    text-decoration: underline;
}

.foot .foot-2 .foot-2-back .ft-2-r ul li {
    list-style: none;
    display: inline;
    line-height: 45px;
    padding-left: 20px;
}

.foot .foot-2 .foot-2-back .ft-2-r ul li a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-weight: 100;
}

.foot .foot-2 .foot-2-back .ft-2-r ul li a:hover {
    text-decoration: underline;
    color: orange;
}

.go-top {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    position: fixed;
    right: 50px;
    bottom: 5%;
    background-color: rgba(77, 86, 93, 0.789);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border: 0;
    cursor: pointer;
    display: none;
    transition: 0.3s;
}

.go-top:hover {
    color: orange;
    background-color: rgba(230, 230, 230, 0.789);
}

.and-shape {
    color: var(--color-and);
    font-family: askerville", " Palatino Linotype", " Palatino", " Times New Roman", serif;

}

.hover1 {
    height: 100px;
    width: 30px;
    position: fixed;
    top: 45%;
    z-index: 1000;
    background-color: rgba(104, 104, 104, 0.17);
    border-radius: 0 10px 10px 0;
}

.hover1>i {
    height: 100px;
    width: 30px;
    position: absolute;
    color: white;
    transform: rotate(-90deg);
    text-align: center;
    line-height: 100px;

}

.hover2-back {
    width: 0px;
    height: 110px;
    overflow: hidden;
    position: relative;
    left: 30px;
}

.hover2 {
    height: 100px;
    width: 250px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.702);
    left: -200px;
    transition: 0.5s;
    border-radius: 0 10px 10px 0;
    opacity: 0;
}

.hover2::after {
    content: '';
    display: block;
    background-image: url('pics 1/architect-handling-keys-to-a-couple-80x80.jpg');
    width: 80px;
    height: 80px;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-100%, -50%);
    opacity: 0;
}

.hover2::before {
    content: 'Project 5 - More Interior';
    display: block;
    font-size: 13px;
    line-height: 100px;
    color: white;
}

.hover1:hover {
    background-color: rgba(0, 0, 0, 0.702);
    border-radius: 0 0 0 0;
}

.hover1:hover .hover2 {
    display: block;
    background-color: rgba(0, 0, 0, 0.702);
    left: 0;
    opacity: 1;
}

.hover1:hover .hover2-back {
    width: 250px;
}

.hover1:hover .hover2::after {
    display: block;
    opacity: 1;
}

.hover1:hover .hover2::before {
    display: block;
}

@keyframes flash {
    0% {
        left: 50%;
        top: 0;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        left: 50%;
        top: 50%;
        opacity: 0;
    }
}

@media (max-width:1235px) {
    .foot .foot-1 {
        height: 352px;
        top: 133px;
    }

    .foot .foot-2 {
        top: 133px;
    }
}

@media (max-width: 990px) {
    .flash {
        top: 585px;
    }

    .hamburger {
        display: block;
    }

    .hamburger::after {
        display: block;
    }

    .head .menu {
        display: none;
    }

    .head .menu .menuback {
        display: flex;
        flex-direction: column;
    }

    .search>label>i {
        position: absolute;
        top: -75px;
        right: 140px;
        color: black;
        font-size: 23px;
        border: none;
        z-index: 1000;
    }

    .head .search-back .search .search-box {
        width: 295px;
        height: 70px;
        top: 2px;
        right: 175px;
    }

    input[type=checkbox]:checked~.back-menu2 {
        visibility: visible;
    }

    input[type=checkbox]:checked~.menu2 {
        display: flex;
    }

    input[type=checkbox]:checked~.hamburger::after {
        display: none;
    }

    input[type=checkbox]:checked~.hamburger {
        color: transparent;
    }

    #x-mark {
        display: none;
    }

    input[type=checkbox]:checked~#x-mark {
        display: block;
    }

    .foot {
        top: 52px;
    }

    .foot .foot-1 {
        height: 510px;
    }

    .foot-1 .foot-1-back .foot-box .social .s-tw:first-child {
        width: auto;
    }

    .foot-1 .foot-1-back .foot-box .social .s-wi {
        top: 150%;
        left: 0;
    }

    .foot-1 .foot-1-back .foot-box .social .s-wi:last-child {
        width: auto;
    }
}

@media (max-width:770px) {
    .head .logo .logoback .piclogo {
        background-size: 170px;
        left: -20px;
    }

    .hover1 {
        display: none;
    }

    .main .top-main .top .t-l {
        width: 100%;
    }

    .main .top-main .top .t-r {
        width: 100%;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }

    .main .top-main .bottom {
        position: relative;
        top: 50%;
    }

    .main .numbers {
        position: relative;
        top: 830px;
    }

    .main .top-main .bottom .b-l {
        width: 100%;
    }

    .main .top-main .bottom .b-r {
        top: 100%;
        width: 100%;
    }

    .main .bottom-main {
        position: relative;
        top: 830px;
    }

    .main .numbers .num-back {
        display: flex;
        flex-direction: column;
    }

    .main .numbers {
        height: auto;
    }

    .main .numbers .num-back .nums p:first-child {
        padding-top: 30px;
    }

    .main .numbers .num-back .nums:last-child {
        padding-bottom: 75px;
    }

    .main .numbers .num-back .nums:first-child {
        padding-top: 20px;
    }

    .main .bottom-main .top .t-l {
        width: 100%;
    }

    .main .bottom-main .top .t-r {
        width: 100%;
        position: relative;
    }

    .main .bottom-main .bottom {
        position: relative;
        top: 50%;
    }

    .main .bottom-main .bottom .b-l {
        width: 100%;
    }

    .main .bottom-main .bottom .b-r {
        width: 100%;
        top: 100%;
    }

    .foot {
        top: 1725px;
    }

    .foot-1 .foot-1-back {
        display: flex;
        flex-direction: column;
    }

    .foot-1 .foot-1-back .foot-box-back {
        width: 100%;
    }

    .foot .foot-1 {
        top: 340px;
        height: 1165px;
    }

    .foot .foot-1 .foot-1-back .foot-box-back {
        top: 0;
        margin-bottom: 80px;
        margin-top: 20px;
    }

    .foot .foot-1 .foot-1-back:first-child {
        margin-top: 60px;
    }

    .foot .foot-2 {
        top: 330px;
        height: auto;

    }

    .foot .foot-2 .foot-2-back {
        flex-direction: column;
        align-items: flex-start;
    }

    .foot .foot-2 .foot-2-back .ft-2-l {
        padding-top: 20px;
    }

    .foot-1 .foot-1-back .foot-box .social .s-wi {
        top: 0;
        left: 50%;
    }

    .foot .foot-2 .foot-2-back .ft-2-r ul li:first-child{
        padding-left: 5px;
    }

    .go-top {
        visibility: hidden;
    }

}

@media (max-width:500px) {
    .main .main-pic .pic {
        height: 330px;
    }

    .flash {
        top: 340px;
    }

    .head .logo .logoback .tw-dr {
        display: none;
    }

    #x-mark {
        right: 6%;
        font-size: 25px;
    }

    .search>label>i {
        right: -10px;
        font-size: 18px;
    }

    .head .search-back .search .search-box {
        right: 15px;
    }

    .hamburger::after {
        display: none;
    }

    .hamburger {
        right: 5%;
    }

    .search>i {
        right: 8%;
        font-size: 20px;
    }

    .main .main-pic .back-content .content p {
        font-size: 32px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
